@import "vars.scss";

.index-layout {

  display: flex;
  height:100%;
  flex-direction: column;
  justify-content: flex-start;

  .content {
    margin: auto auto;
  }

  .centered-iframe {
    text-align: center;
    // border: 1px dashed black;

    iframe {
      width: 100%;
      max-width:500px;
      height: 500px;
      border:none;
      margin:0 auto;
      pointer-events: none;
      background-color: white;
      overflow: hidden;
    }

    html {
      overflow: hidden;
    }
  }

  h1 {
    text-align: center;
    margin-top: 0;
  }

  a {
    white-space: normal;
  }
}