@import "vars.scss";

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Bold.ttf')  format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/assets/fonts/Inconsolata-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/assets/fonts/Inconsolata-Bold.ttf')  format('truetype');
  font-weight: bold;
}

html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
}

body {
  scroll-behavior: smooth;
  font-family: $font1;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}

h1,h2 {
  font-family: $font2;
  letter-spacing: 0.02em;
  line-height: 1.2em;
}

h1 {
  font-size: 250%;
  margin-top: 30px;
  font-weight: bold;
}

h2 {
  font-size: 170%;
  font-weight: normal;
  // border-bottom: 1px solid black;
  // padding: 10px 0;
}

a {
  background-color: $primary-color;
  color: white;
  padding: 0.3ex 0.3em;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 300ms, color 300ms;

  &:hover {
    text-decoration: none;
    background-color: transparent;
    color: $primary-color;
  }

  &.anchor {
    visibility: hidden;
    height: 0;
  }
}

.content {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 $outer-margin $outer-margin $outer-margin;
}

.center {
  text-align: center;
}

.navbar {
  display:block;
  padding: 30px 0 10px 0;
  margin: 0;
  list-style: none;
  // background-color: $primary-color;

  li {
    display: inline;

    &:before {
      content: "/ ";
      display: inline;
    }
  }

  a {
    background-color: transparent;
    padding: 0;
    text-decoration: underline;
    color: $primary-color;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

code {
  font-family: $font1;
  background-color: lightgray;
  padding: 5px;
}

.uplink {
  position:fixed;
  bottom: -100px;
  right: $large-spacing;
  text-align: center;
  z-index: 99;
  transition: bottom 500ms;
}

body.header-not-at-top {
  .uplink {
    bottom: $large-spacing;
  }
}

#color-theme {
  @each $theme in $color-themes {
    &.color-#{nth($theme, 1)} {
      color: nth($theme,3);

      a {
        background-color: nth($theme,4);

        &:hover {
          background-color: transparent;
          color: nth($theme,4)
        }
      }

      .navbar a {
        background-color: transparent;
        color: nth($theme,4);

        &:hover {
          color: white;
        }
      }
    }
  }
}



// import scss code for pages
@import "index-page.scss";
@import "about-page.scss";
@import "project-page.scss";
@import "project-list-page.scss";