@import "vars.scss";

.project-page {
  min-height: 100%;
  overflow-x: hidden;

  @each $theme in $color-themes {
    &.color-#{nth($theme, 1)} {
      background-color: nth($theme, 2);
    }
  }

  img {
    max-width:100%;
    width: auto;
    height: auto;
  }
}