@use "sass:color";

@import "vars.scss";

.project-list-page {

  #color-theme {
    @each $theme in $color-themes {
      &.color-#{nth($theme, 1)} {

        #project-list {
          background-color: nth($theme, 2);
          color: nth($theme,3);
        }

        #header {
          background-image: linear-gradient(to top, color.change(nth($theme, 2), $alpha: 0), color.change(nth($theme, 2), $alpha: 1) 90%);
        }
      }
    }
  }

  .fixed-navbar {
    position: fixed;
    top: 0;
    width: $content-width;
    z-index: 99;
    font-size: $font-size;
    
    ul {
      // background-color: white;
      width: 100%;
    }
  }

  #header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 80px;
    z-index: 2;
    opacity: 1;
    animation: fade-transition $theme-transition-time;
    pointer-events: none;

    @keyframes fade-transition {
      0%   {opacity: 0}
      100% {opacity: 1}
    }
  }

  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 2;
    text-align: center;
    transition: bottom 500ms;
    pointer-events: none;
    font-size: 130%;
    opacity: 0.5;

    &.hidden {
      bottom: -60px
    }

    p {
      font-size: 120%;
      opacity: 1;
    }
  }

  #project-list {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    padding: 0 $outer-margin;
    transition: color $theme-transition-time, background-color $theme-transition-time;
    z-index: 1;

    .project-list-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;

      > div {
        position: relative;
        width: $content-width;
        text-align: left;

        p {
          display: inline;
          
        }

        h2 {
          position: absolute;
          top: $standard-spacing*2;
          left: $standard-spacing;
          background-color: white;
          color: black;
          margin: 0;
          padding: 0.1em 0.2em;
          font-weight: bold;
          // border: 1px solid black;

        }

        img, .placeholder {
          display: block;
          width:100%;
          max-height:40vh;
          margin: $standard-spacing auto;
          object-fit: cover;
          // border:1px solid black;
          // padding: 5px;
        }

        .placeholder {
          display: table;
          height: 25vh;
          text-align: center;
          border: 1px solid black;
          box-sizing: border-box;

          p {
            display: table-cell; 
            vertical-align: middle;
            opacity: 0.3;
          }
        }
      }
    }
  }
}

