@use "sass:color";

@import "vars.scss";

.project-page {
  min-height: 100%;
  overflow-x: hidden;

  @each $theme in $color-themes {
    &.color-#{nth($theme, 1)} {
      background-color: nth($theme, 2);
    }
  }

  .image {
    text-align: center;
    cursor:pointer;

    img {
      max-width:100%;
      max-height: 500px;
      width: auto;
      height: auto;
      pointer-events: none;
    }
  }
  

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;

    .image {
      flex: 0 0 32%;
      margin: 0 0.5%;

      img {
        width: 100%;
        height: auto;
      }

    }

    @media (max-width: $breakpoint-phone) {
      .image {
        flex: 0 0 49%;
        margin: 0 0.5%;
      }
    }
  }

  .iframe-with-asp {
    position: relative;
    text-align: center;
    width: 100%;
    height: 0;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: none;
    }
  }

  .video {
    text-align: center;

    video {
      max-width: 100%;
      max-height: 500px;
    }
  }

  #picture-overlay {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: color.change(black, $alpha: 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 300ms;

    &.show {
      visibility: visible;
      opacity: 1;
    }

    .image {
      cursor:auto;

      img {
        max-width: 90vw;
        max-height: 80vh;
        object-fit: contain;
        pointer-events: all;
      }
    }

    .close {
      position: fixed;
      bottom: 0;
      margin: $large-spacing;
    }
  } 
  
}