@import "vars.scss";

.project-list-page {

  .fixed-navbar {
    position: fixed;
    top: 0;
    width: $content-width;
    z-index: 2;
    
    ul {
      // background-color: white;
      width: 100%;
    }
  }

  #project-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $outer-margin;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-color: white;
    transition: background-color 500ms, color 500ms;

    &.color-0 {
      background-color: white;
    }

    &.color-1 {
      background-color: aquamarine;
    }

    &.color-2 {
      background-color: palevioletred;
    }

    &.color-3 {
      background-color: black;
      color: white;

      h2 {
        background-color: black !important;
      }
    }

    .project-list-item {
      scroll-snap-align: start;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;

      > div {
        position: relative;
        width: $content-width;
        text-align: left;

        p {
          display: inline;
          
        }

        h2 {
          position: absolute;
          font-family: $font1;
          top: $standard-spacing*2;
          left: $standard-spacing;
          background-color: white;
          margin: 0;
          padding: 0.1em 0.2em;
          font-weight: bold;

        }

        img, .placeholder {
          display: block;
          width:100%;
          max-height:40vh;
          margin: $standard-spacing auto;
          object-fit: cover;
          // border:1px solid black;
          // padding: 5px;
        }

        .placeholder {
          display: table;
          height: 25vh;
          text-align: center;
          border: 1px solid black;
          box-sizing: border-box;

          p {
            display: table-cell; 
            vertical-align: middle;
            opacity: 0.3;
          }
        }
      }
    }
  }
}

