$content-width: 700px;

$breakpoint-phone: 600px;

$standard-spacing: 10px;
$large-spacing: 25px;
$outer-margin: 20px;

$primary-color: #800080;

$font1: "Inconsolata", monospace;
$font2: "OpenSans", sans-serif;

// first is bg-color, second is font-color
$color-themes: 
  0 #ffffff #000000 #800080, 
  1 #000000 #ffffff #cc05cc,
  2 #C8FF00 #000000 #769700,
  3 #FF0048 #ffffff #620049,
  4 #00C8FF #000000 #004e83,
  5 #413D3D #ffffff #ff6700;

$theme-transition-time: 500ms;

