---
layout: base-layout.njk
---
<div class="content about-page">
  {% include "navbar.njk" %}
  {{ content | safe }}

  {% include "uplink.njk" %}
</div>

<script>
  {
    function decodeMailAddress() {
        var string = "yhgm@yh-er.qr".replace(/[a-zA-Z]/g, function(c) {
            return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);
        });
        return string;
    }
    window.addEventListener("load", function() {
      const mailLink = document.getElementById("email-address")

      mailLink.innerHTML = decodeMailAddress()
      mailLink.setAttribute("href", "mailto:"+decodeMailAddress())
    })

    const anchorLinks = Array.from(document.getElementsByClassName("anchor-link"))
    anchorLinks.forEach((link) => {
      link.addEventListener("click", (e) => {
        const targetId = e.target.getAttribute("href")
        const anchor = document.querySelector(targetId);
        if (anchor) {
          window.scrollTo({
            top: anchor.offsetTop,
            behavior: "smooth"
          })
          e.preventDefault()
        }
      })
    })
  }
</script>