---
title: Lutz Reiter
bodyClass: false
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body {% if bodyClass %} class="{{ bodyClass }}" {% endif %}>
    <script src="/assets/bundle.js"></script>
    {{ content | safe }}
  </body>
</html>

<script>
  {
    const SCROLL_OFFSET = 200
    
    window.addEventListener("load", function() {
        let elem = window.location.hash && document.querySelector(window.location.hash);
        if (elem) {
          elem.scrollIntoView();
        }
    })

    document.addEventListener('scroll', Bundle.throttle(function() {
      if (window.scrollY > SCROLL_OFFSET) {
        document.body.classList.add("header-not-at-top");
      } else {
        document.body.classList.remove("header-not-at-top");
      }
    }, 250))
  }
</script>