---
layout: base-layout.njk
---
<div class="index-layout">
  <div class="content">
    {# {% include "navbar.njk" %} #}
    {{ content | safe }}
    </div>
  </div>
</div>

<script>
  const onFrameClicked = function() {
    // document.location.reload()
    const sketch = document.getElementById('sketch')
    sketch.contentWindow.location.reload();
  }
  
  {
    const onResize = function() {
      const sketch = document.getElementById('sketch')
      sketch.style.height = sketch.clientWidth + "px"
    }
    window.addEventListener("resize", onResize)
    onResize()
  }
</script>