---
layout: base-layout.njk
---
<div class="index-layout">
  <div class="content">
    {# {% include "navbar.njk" %} #}
    <div class="centered-iframe" onClick="onFrameClicked()">
      <iframe id="sketch" src="{{ sketches[start_sketch] }}"></iframe>
      <div class="caption">↑ Click to reload</div>
    </div>
    {{ content | safe }}
    </div>
  </div>
</div>

<script>

  const sketches = "{{ sketches }}".split(",").map(function(i) { return i.trim()})
  var current_sketch = {{ start_sketch }}

  const onFrameClicked = function() {
    const sketch = document.getElementById('sketch')
    current_sketch +=  1 + Math.floor(Math.random()*(sketches.length-1))
    current_sketch %= sketches.length
    sketch.src = sketches[current_sketch]
  }

  window.addEventListener("load", function() {
    //onFrameClicked();
  })
  
  {
    const onResize = function() {
      const sketch = document.getElementById('sketch')
      sketch.style.height = sketch.clientWidth + "px"
    }
    window.addEventListener("resize", onResize)
    onResize()
  }
</script>