---
layout: base-layout.njk
---
<div class="content">
  {% include "navbar.njk" %}
  <h1>{{ title }}</h1>
  {% if thumbnail %}
    {% image thumbnail, "thumbnail" %}
  {% endif %}
  {% if not thumbnail %}
    <i>No thumbail</i>
  {% endif %}

  {{ content | safe }}
</div>