---
layout: base-layout.njk
---
<div class="content">
  {{ content | safe }}
  <h1>Project List</h1>
  {% image "./test.jpg", "photo of my mondjunge" %}
  <ul>
  {%- for project in collections.project -%}
    <li><a href="{{project.url}}">{{ project.data.title }}</a></li>
  {%- endfor -%}
  </ul>

  <a href="../">Back</a>
</div>