---
layout: base-layout.njk
---
<div class="content">
  <h1>{{ title }}</h1>
  {% if thumbnail %}
    {% image thumbnail, "thumbnail" %}
  {% endif %}
  {% if not thumbnail %}
    <i>No thumbail</i>
  {% endif %}

  {{ content | safe }}

  <a href="../">Back</a>
</div>