---
layout: base-layout.njk
bodyClass: project-list-page
---
<div class="content project-list-page">
  <div id="color-theme">
    <div class="fixed-navbar">
      {% include "navbar.njk" %}
    </div>
    <div id="project-list">
      {%- for project in collections.project | reverse -%}
        <div id="{{project.fileSlug}}" class="project-list-item" data-color="{{ project.data.color }}">
          <div class="center">
            <h2>{{ project.data.title | safe }}</h2>
            {% if project.data.thumbnail %}
              {% image project.fileSlug+"/"+project.data.thumbnail, project.data.title, 1024 %}
            {% else %}
              <div class="placeholder"><p>Nothing to see</p></div>
            {% endif %}
            <p>
              {{ project.templateContent | abstract | safe }}
            </p>
            <a href="{{ project.url }}">read more</a> 
            </div>
        </div>
      {%- endfor -%}
    </div>
    <div id="header"></div>
    <div id="footer"><p>&#x2193;</p></div>
  </div>
</div>

<script>
  {
    
    const snapper = new Bundle.SnapScrollContainer({ containerId: 'project-list', itemClass: 'project-list-item'})

    snapper.container.addEventListener("scroll", Bundle.throttle(() => {
      changeColors()
    }))

    window.addEventListener("load",() => {
      changeColors()
    })

    const themeElement = document.getElementById("color-theme")
    function changeColors() {
      // get color
      const item = snapper.calculateClosestItem()
      const color = item.dataset.color


      if (themeElement.className == "color-"+color)
        return

      // set color css class
      const header = document.getElementById("header")
      var newheader = header.cloneNode(true);
      header.parentNode.replaceChild(newheader, header);
      themeElement.className = "color-"+color
    }
  }
</script>